@font-face {
  font-family: unica_one_regular;
  src: url("../fonts/UnicaOne-Regular.ttf") format("woff");
}
@font-face {
  font-family: clash_display_regular;
  src: url("../fonts/ClashDisplay-Medium.otf") format("woff");
}
@font-face {
  font-family: clash_display_light;
  src: url("../fonts/ClashDisplay-Regular.otf") format("woff");
}
@font-face {
  font-family: montserrat_regular;
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: montserrat_light;
  src: url("../fonts/Montserrat-Light.ttf");
}
header {
  border-bottom: none;
}
@media screen and (max-width: 677px) {
  header .logo-div {
    visibility: hidden !important;
  }
}

.nav-control {
  display: block;
  width: 2rem;
  height: 2rem !important;
  border-radius: 50%;
  margin-top: -5rem;
  margin-left: 5rem;
  transform: scale(1.2) translateX(-10%);
  background-color: var(--dark-color);
  background: var(--secondary-color);
  position: relative;
  z-index: 4;
}
@media screen and (min-width: 678px) {
  .nav-control {
    visibility: hidden !important;
  }
}
.nav-control a {
  display: block;
  height: 100%;
  display: block;
  width: 100%;
  background-color: var(--dark-color);
  border-radius: inherit;
  transform: scale(1.1) translateX(-10%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
}
.nav-control a svg {
  transform: translateX(-30%);
}
.nav-control::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  display: block;
  width: 100%;
  transform: scale(1.2) translateX(-10%);
  background: linear-gradient(to bottom, var(--accent-color-thick), var(--secondary-color));
  background-color: var(--accent-color-fade);
  border-radius: 50%;
  z-index: -1 !important;
}

.contact-form-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: block;
  width: 100%;
  height: max-content;
  padding-top: 7rem;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .contact-form-area {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 10rem;
  }
}
.contact-form-area .contact-form-left {
  align-self: flex-start;
}
@media screen and (max-width: 991px) {
  .contact-form-area .contact-form-left {
    display: none;
  }
}
.contact-form-area .contact-form-left > h2 {
  font-size: 2.5rem;
  color: var(--accent-color-fade);
  font-family: montserrat_regular;
}
.contact-form-area .contact-form-left > p {
  width: 15rem;
  height: max-content;
}
.contact-form-area .contact-form-left > p:last-of-type {
  width: 30rem;
}
.contact-form-area .contact-form-left > h3 {
  font-size: 1.5rem;
  color: var(--accent-color-fade);
}
.contact-form-area .contact-form-left > ul {
  margin-left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0;
}
.contact-form-area .contact-form-right {
  margin-left: 4rem;
}
.contact-form-area .contact-form-right-title {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-form-area .contact-form-right-title > h2 {
  font-size: 2rem;
  font-family: clash_display_regular;
  font-weight: bolder;
  margin: 0 auto;
  margin-left: 0;
  text-align: start;
  width: 20rem;
  height: max-content;
  color: var(--accent-color-fade);
}
.contact-form-area .contact-form-right-title > h2:first-of-type {
  margin-bottom: 1rem;
}
.contact-form-area .contact-form-right-sub-title {
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: montserrat_regular;
  width: 30rem;
  margin-bottom: 3rem;
}
.contact-form-area .contact-form-right .contact-form {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.contact-form-area .contact-form-right .contact-form .star-floater:first-of-type {
  top: unset;
  bottom: 20%;
  left: unset;
  right: 0%;
  transform: translateX(20%);
}
.contact-form-area .contact-form-right .contact-form .star-floater:last-of-type {
  top: unset;
  bottom: 10%;
  transform: scale(0.8);
}
.contact-form-area .contact-form-right .contact-form input {
  display: block;
  height: 4rem;
  border-radius: 0.3rem;
  border: 0.15rem solid var(--text-color);
  padding-left: 2rem;
  background-color: var(--text-color-trans);
  color: var(--text-color);
}
.contact-form-area .contact-form-right .contact-form input::placeholder {
  color: var(--text-color);
  font-family: montserrat_regular;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.contact-form-area .contact-form-right .contact-form input.message-field {
  height: 20rem !important;
}
.contact-form-area .contact-form-right .contact-form input.message-field::placeholder {
  transform: translateY(-300%);
}
.contact-form-area .contact-form-right .contact-form input[type=email], .contact-form-area .contact-form-right .contact-form input[type=text], .contact-form-area .contact-form-right .contact-form input[type=tel] {
  margin-bottom: 2rem;
  width: 85%;
}
.contact-form-area .contact-form-right .contact-form input[type=submit] {
  all: unset;
  height: 5rem;
  width: 16.2rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.8rem;
  display: block;
  margin: 3rem auto;
  position: relative;
  background: linear-gradient(to right, var(--accent-color-thick) 0%, var(--secondary-color) 100%);
  align-self: center !important;
  margin: unset;
  margin: 0 auto;
  margin-left: 25% !important;
  margin-top: 1rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.8);
  font-family: montserrat_regular;
}
@media screen and (min-width: 577px) {
  .contact-form-area .contact-form-right .contact-form input[type=submit] {
    margin-left: 8.2rem;
  }
}
.contact-form-area .contact-form-bottom-text {
  width: max-content;
  font-size: 1.5rem;
  width: 90%;
  color: var(--accent-color-fade);
  text-align: center;
}
@media screen and (min-width: 992px) {
  .contact-form-area .contact-form-bottom-text {
    display: none;
  }
  .contact-form-area .contact-form-bottom-text + .contact-social-icons {
    display: none;
  }
}
.contact-form-area .contact-social-icons {
  width: 20rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10rem;
}
.contact-form-area .contact-social-icons li {
  margin-right: 1.5rem;
}

/*# sourceMappingURL=contact.css.map */
